{{define "head"}}
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <title>Spark Up</title>

        <link rel="icon" type="image/png" href="/assets/images/favicon.png" sizes="60x60">

        <link href="/assets/static/default.css" rel="stylesheet" type="text/css">
        
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.2/css/bootstrap-select.min.css" rel="stylesheet" type="text/css">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

        <!-- <link href="/assets/resources/jquery-ui/jquery-ui.min.css" rel="stylesheet" type="text/css">
        <link href="/assets/resources/jquery-ui/jquery-ui.structure.min.css" rel="stylesheet" type="text/css">
        <link href="/assets/resources/jquery-ui/jquery-ui.theme.min.css" rel="stylesheet" type="text/css"> -->
        
        <link href="/assets/resources/fullPage/jquery.fullPage.css" rel="stylesheet" type="text/css">
        
        <link href="/assets/resources/snarl/snarl.min.css" rel="stylesheet" type="text/css">

        <link href="/assets/resources/summernote/summernote.css" rel="stylesheet" type="text/css">

        <link href="/assets/resources/waves/dist/waves.min.css" rel="stylesheet" type="text/css">

        <link href="/assets/static/preloader.css" rel="stylesheet" type="text/css">
        <link href="/assets/static/style.css" rel="stylesheet" type="text/css">

        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,700" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    </head>
{{end}}

{{define "script"}}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js" type="text/javascript"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.2/js/bootstrap-select.min.js" type="text/javascript"></script>

    <!-- <script src="/assets/resources/jquery-ui/jquery-ui.min.js" type="text/javascript"></script> -->

    <script src="/assets/resources/fullPage/vendors/scrolloverflow.min.js" type="text/javascript"></script>
    <script src="/assets/resources/fullPage/vendors/jquery.easings.min.js" type="text/javascript"></script>
    <script src="/assets/resources/fullPage/jquery.fullPage.min.js" type="text/javascript"></script>
    
    <script src="/assets/resources/masonry/masonry.pkgd.min.js" type="text/javascript"></script>
    <script src="/assets/resources/masonry/imagesloaded.pkgd.min.js" type="text/javascript"></script>

    <script src="/assets/resources/snarl/snarl.min.js" type="text/javascript"></script>

    <script src="/assets/resources/summernote/summernote.min.js" type="text/javascript"></script>

    <script src="/assets/resources/waves/dist/waves.min.js" type="text/javascript"></script>

    <script src="/assets/static/page.js" type="text/javascript"></script>
    <script src="/assets/static/global.js" type="text/javascript"></script>
{{end}}