{{define "my-template"}}

<!DOCTYPE html>

<html lang="en">
    
    {{template "head" .}}
    
    <body>

        <div id="loader-wrap">
            <div class="loader-circles">
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
            </div>
        </div>

        <section id="header">
            <div class="inner">
                <img class="logo" src="/assets/images/logo-white.png">
                <h1>Spark Up</h1>
                <h4>Make beautiful online resumes and portfolios.</h4>
                <ul class="actions">
                    <li><a href="#one" class="button scrolly">Discover</a></li>
                </ul>
            </div>
        </section>

        <section id="one" class="main style1 special">
            <div class="container">
                <header class="major">
                    <h1>Promote Yourself</h1>
                </header>
                <div class="row 150%">
                    <div class="4u 12u$(medium)">
                        <span class="image fit"><img src="/assets/images/pic01.jpg" alt="Professional" /></span>
                        <h2>Professional</h2>
                        <p>Create beautiful, professional online resumes and portfolios to showcase you.</p>
                    </div>
                    <div class="4u 12u$(medium)">
                        <span class="image fit"><img src="/assets/images/pic02.jpg" alt="Personalized" /></span>
                        <h2>Personalized</h2>
                        <p>Easily customize color, text, images, and more to create the look you want.</p>
                    </div>
                    <div class="4u$ 12u$(medium)">
                        <span class="image fit"><img src="/assets/images/pic03.jpg" alt="Powerful" /></span>
                        <h2>Powerful</h2>
                        <p>Stand out from the crowd and make a powerful, memorable first impression.</p>
                    </div>
                </div>
            </div>
        </section>

        <section id="two" class="main style2">
            <div class="container">
                <div class="row 150%">
                    <div class="6u 12u$(medium)">
                        <header class="major">
                            <h1>Resumes</h1>
                        </header>
                        <ul>
                            <li>A professional online resume can set you apart from the rest of the field; the first impression is everything.</li>
                            <li>Create a free online resume, manage and edit your resume, publish multiple versions, and share it with the world.</li>
                            <li>Build the perfect resume and get the job you deserve.</li>
                        </ul>
                        <ul class="actions">
                            <li><a href="http://sparkup.ca/resume/585736a750c3861b8b000001" target="_blank" class="button">View Example</a></li>
                        </ul>
                    </div>
                    <div class="6u$ 12u$(medium) important(medium)">
                        <span class="image fit"><img src="/assets/images/resume.jpg" alt="Resume" /></span>
                    </div>
                </div>
            </div>
        </section>

        <section id="three" class="main style1">
            <div class="container">
                <div class="row 150%">
                    <div class="6u 12u$(medium)">
                        <span class="image fit"><img src="/assets/images/portfolio.jpg" alt="Portfolio" /></span>
                    </div>
                    <div class="6u$ 12u$(medium)">
                        <header class="major">
                            <h1>Portfolios</h1>
                        </header>
                        <ul>
                            <li>A beautiful online portfolio of your work showcases your amazing projects, your personality, and your interests.</li>
                            <li>Impress clients and employers with stunning portfolios that elevate your work.</li>
                            <li>Build a strong portfolio and show off your skills and creativity.</li>
                        </ul>
                        <ul class="actions">
                            <li><a href="http://sparkup.ca/portfolio/57f14d371ef0d5e71c000001" target="_blank" class="button">View Example</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <section id="four" class="main style2 special">
            <div class="container">
                <header class="major">
                    <h1>It's easy and free.</h1>
                </header>
                <h4>What are you waiting for?</h4>
                <ul class="actions uniform">
                    <li><a href="/login" class="button special">Get Started</a></li>
                </ul>
            </div>
        </section>

        <section id="footer" class="main style1">
            <div class="container">
                <img class="logo" src="/assets/images/logo-white.png">
                <h3>Spark Up</h3>
                <p>The journey is the reward.</p>
                <h5>&copy; <a href="https://github.com/thelilyliu" target="_blank">Lily Liu</a> 2016</h5>
            </div>
        </section>
        
        {{template "script" .}}
        
        <script type="text/javascript">
            $(window).load(function () {
                setTimeout(function() { // page preloader
                    $('#loader-wrap').fadeOut(1000);
                }, 1000); // set 1 second delay for old browsers
            });
        </script>
        
    </body>

</html>

{{end}}