{{define "my-template"}}

<!DOCTYPE html>

<html lang="en">
    
    {{template "head" .}}
    
    <body>

        <section id="header">
            <div class="inner">
                <span class="icon major fa-cloud"></span>
                <h1>Spark Up</h1>
                <p>Make a beautiful online resume and portfolio.</p>
                <ul class="actions">
                    <li><a href="#one" class="button scrolly">Discover</a></li>
                </ul>
            </div>
        </section>

        <div id="loader-wrap">
            <div class="loader-circles">
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
            </div>
        </div>
        
        {{template "script" .}}
        
        <script type="text/javascript">
            $(window).load(function () {
                setTimeout(function() { // page preloader
                    $('#loader-wrap').fadeOut(1000);
                }, 1000); // set 1 second delay for old browsers
            });

            $(document).ready(function() {
                /*
                eventHandler();
                
                page('/resume/:resumeID', viewResume);
                page('*', notFound);
                page();
                */
            });
        </script>
        
    </body>

</html>

{{end}}