{{define "my-template"}}

<!DOCTYPE html>

<html lang="en">
    
    {{template "head" .}}
    
    <body>
        
        {{template "script" .}}
        
        <script type="text/javascript">
            $(document).ready(function() {
                /*
                eventHandler();
                
                page('/resume/:resumeID', viewResume);
                page('*', notFound);
                page();
                */
            });
        </script>
        
    </body>

</html>

{{end}}