{{define "my-template"}}

<!DOCTYPE html>

<html lang="en">
    
    {{template "head" .}}
    
    <body id="portfolio" data-spy="scroll" data-target="#myScrollspy">

        <div id="loader-wrap">
            <div class="loader-circles">
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
            </div>
        </div>
        
        <div id="main-container" class="view">
            
            <section id="main">
                <div class="container">
                    <div class="row"></div>
                </div>
            </section>
            
        </div>
        
        {{template "script" .}}
        
        <script src="../assets/static/viewPortfolio.js" type="text/javascript"></script>
        
        <script type="text/javascript">
            $(window).load(function () {
                setTimeout(function() { // page preloader
                    $('#loader-wrap').fadeOut(1000);
                }, 1000); // set 1 second delay for old browsers
            });
        
            $(document).ready(function() {
                setScreenSize();
                eventHandler();
                
                page('/portfolio/:portfolioID', viewPortfolio);
                page('*', notFound);
                page();
            });
            
            function eventHandler() {
                
            }
            
            function notFound() {
                console.log('not found');
            }
            
            function viewPortfolio(ctx) {
                globalPortfolioID = ctx.params.portfolioID;
                
                viewPortfolioInit();
            }
        </script>
        
    </body>

</html>

{{end}}