/* 
    Table of Contents
     1. Basic
     2. Typography
     3. Container
     4. Links
     5. Lists
     6. Buttons
     7. Custom Classes
     8. Navigation Top
     9. Navigation Side
    10. Navigation Right
    11. Grids
    12. Sections
    13. Cards
    14. Forms
    15. Alerts
    16. Login
    17. User
    18. Profile
    19. Experience
    20. Skills
    21. Portfolio
    22. Achievements
    23. Contact
    24. Portfolios
*/

/*
  ========================================
  1. Basic
  ========================================
*/

html {
    min-height: 100%;
}
body {
    position: relative;
    min-height: 100%;
    overflow: hidden;
}
textarea {
    resize: none;
}

/*
  ========================================
  2. Typography
  ========================================
*/

@font-face {
    font-style: normal;
    font-weight: normal;
}
body {
    font-family: "Roboto", Helvetica Neue, Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
}
h1 {
    text-align: center;
    margin: 0;
}
h2 {
    margin: 0;
}
h3 {
    margin: 0;
}
h4 {
    margin: 0;
}
h5 {
    margin: 0;
}
h6 {
    margin: 0;
}
p {
    margin: 0;
    margin-bottom: 18px;
}
b, strong {
    font-weight: 700;
}
i, em {
    font-style: italic;
}

/*
  ========================================
  3. Container
  ========================================
*/

.container {
    max-width: 100%;
    padding: 0;
    margin: 0 auto;
}
section .container {
    padding: 50px;
}
.view #profile .container {
    position: relative;
    min-height: 100vh;
}

@media (max-width: 767px) {
    section .container {
        padding: 50px 0;
        margin: 0 15px;
    }
}
@media (min-width: 992px) {
    #page-content-wrapper #main-container,
    #page-content-wrapper #fullpage {
        margin-left: 250px;
    }
}

/*
  ========================================
  4. Links
  ========================================
*/

a,
a:active,
a:focus,
a:hover,
a:visited {
    outline: none;
    text-decoration: none;
}
a:hover {
    cursor: pointer;
}

.links .facebook .fa-circle {
    color: rgb(73, 92, 165);
}
.links .twitter .fa-circle {
    color: rgb(65, 170, 241);
}
.links .linkedin .fa-circle {
    color: rgb(0, 119, 181);
}

/*
  ========================================
  5. Lists
  ========================================
*/

ul {
    padding-left: 25px;
    margin: 0;
    list-style: disc;
}
ul ul {
    padding-left: 25px;
    list-style: circle;
}
ul.default {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/*
  ========================================
  6. Buttons
  ========================================
*/

button.btn-default,
button.default {
    border: none;
    outline: none;
}
button.btn-default:focus,
button.default:focus { 
    outline: none;
}
a[type="button"] {
    cursor: pointer;
}

/*
button.close {
    width: 30px;
    height: 30px;
    font-size: 30px;
    position: absolute;
    z-index: 10;
}
*/
button.new {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    position: absolute;
    z-index: 10;
    right: 50px;
    bottom: 50px;
    font-size: 50px;
    background-color: #9ad3de;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}
#new-resume {
    position: fixed;
}

#upload-file {
    position: absolute;
    opacity: 0;
    width: 67.83px;
    height: 32px;
    cursor: pointer;
}

.button-group {
    position: absolute;
    z-index: 10;
}
    .button-group button {
        display: block;
        height: 30px;
        width: 30px;
    }
    .group.first button.up {
        visibility: hidden;
    }
    .group.last button.down {
        visibility: hidden;
    }
@media (max-width: 767px) {
    .button-group {
        left: 20px;
    }
}

/*
  ========================================
  7. Custom Classes
  ========================================
*/

.absolute {
    position: absolute;
    top: 0;
    left: 0;
}
.absolute-right {
    position: absolute;
    top: 0;
    right: 0;
}
.absolute-center {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.circle {
    border-radius: 50%;
}
.fill-div {
    display: block; 
    width: 100%;
    height: 100%;
}
.fixed-background {
    background-attachment: fixed;
    background-position: 50% 50%;
    background-size: cover;
    /* min-height: 100vh; */
}
.horizontal-align {
    left: 50%;
    
    -webkit-transform: translateX(-50%);
       -moz-transform: translateX(-50%);
         -o-transform: translateX(-50%);
            transform: translateX(-50%);
}
.vertical-align {
    top: 50%;
    
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
         -o-transform: translateY(-50%);
            transform: translateY(-50%);
}

/*
  ========================================
  8. Navigation Top
  ========================================
*/

.navbar-top {
    height: 50px;
    border: none;
    margin: 0;
    z-index: 10;
    background-color: rgba(248, 248, 248, .8); /* **** OPACITY DOESN'T WORK IN DASHBOARD **** */
}
.navbar-top li {
    position: absolute;
    height: 50px;
    font-size: 26px;
    padding: 7px;
}
.navbar-top a {
    color: #335ace;
}
.navbar-top a:hover {
    color: #2d50b7;
}
    .navbar-top li.first {
        width: 40px;
        left: 10px;
        z-index: 11; /* **** TEMPORARY HACK **** */
    }
    .navbar-top li.second {
        left: 50px;
        right: 50px;
        overflow: hidden;
    }
    .navbar-top li.third {
        width: 40px;
        right: 10px;
    }
@media (min-width: 992px) {
    #navbar-top-layer-2 {
        margin-left: 250px;
    }
    .navbar-top li.first {
        left: 50px;
    }
    .navbar-top li.second {
        left: 90px;
        right: 90px;
    }
    .navbar-top li.third {
        right: 50px;
    }
}

/*
  ========================================
  9. Navigation Side
  ========================================
*/

#sidebar-wrapper {
    position: absolute;
    box-shadow: 1px 0 15px rgba(0, 0, 0, .3);
    height: 100%;
    width: 250px;
    border: none;
    overflow-y: auto;
    overflow-x: hidden;
    -ms-overflow-style: none;
    background-color: #fff;
    z-index: 9;
}
#sidebar-wrapper .sidebar-header {
    display: block;
    height: 100px;
    width: 250px;
    background-image: url("/assets/images/nav-header.png");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
            background-size: cover;
    background-position: center;
}
#sidebar-wrapper .sidebar-header i {
    display: none;
}
#sidebar-wrapper .sidebar-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}
#sidebar-wrapper .sidebar-footer .logo {
    font-size: 22px;
    margin-bottom: 5px;
}
#sidebar-wrapper .sidebar-footer .copyright {
    font-size: 16px;
    margin-bottom: 20px;
}
#sidebar-wrapper .sidebar-footer .copyright a {
    color: #7999ff;
}

@media (max-width: 991px) {
    #sidebar-wrapper {
        position: fixed;
        box-shadow: 0 0 25px rgba(0, 0, 0, .35);
        height: 100%;
        width: 250px;
        z-index: 101;
        left: -250px; 
        opacity: 0.3;
        -webkit-transform: translateX(0);
                transform: translateX(0);
        -webkit-transition: transform 300ms ease-out, opacity 300ms ease-out;
                transition: transform 300ms ease-out, opacity 300ms ease-out;
    }
    #sidebar-wrapper.toggled {
        opacity: 1;
        -webkit-transform: translateX(250px);
                transform: translateX(250px);
    }
    #sidebar-wrapper.toggled + #page-content-wrapper {
        overflow: hidden !important;
    }
    #sidebar-wrapper .sidebar-header i {
        display: inline-block;
        position: relative;
        margin: 25px;
        font-size: 50px;
        color: #fff;
        cursor: pointer;
    }
    .sidebar-backdrop {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .1);
        z-index: 100;
    }
}

.sidebar-nav a {
    color: #555;
}
.sidebar-nav a:hover, 
.sidebar-nav a:focus {
    color: #000;
}
.sidebar-nav > li > a {
    padding: 10px 25px 10px 45px;
    border-left: 5px solid transparent;
}
.sidebar-nav > li > a:hover {
    background-color: rgba(33, 33, 33, .1);
    border-left: 5px solid #3F51B5;
}
.sidebar-nav > li > a > i {
    position: absolute;
    left: 15px;
    top: 1px;
    width: 25px;
    text-align: center;
    padding: 12px 0;
}

.sidebar-nav li.active > a {
    color: #000;
}
.sidebar-nav > li.active > a, 
.sidebar-nav > li.open > a {
    border-left: 5px solid #3F51B5;
}
.sidebar-nav li > a > .arrow:before {
    float: right;
    margin-top: 0;
    margin-right: 20px;
    display: inline;
    font-size: 16px;
    font-family: FontAwesome;
    height: auto;
    content: "\f107";
    font-weight: normal;
    text-shadow: none;
}
.sidebar-nav li.open > a > .arrow:before {
    content: "\f106";
}
.sidebar-nav li > a > .arrow {
    float: right;
    position: absolute;
    right: 0;
}

/*
  ========================================
  10. Navigation Right
  ========================================
*/

#fp-nav .fp-tooltip {
    color: #fff;
}
#fp-nav ul li a span {
    background: #fff;
}

@media (max-width: 767px) {
    #fp-nav {
        display: none;
    }
}

/*
  ========================================
  11. Grids
  ========================================
*/

.grid-sizer,
.grid-item {
    width: 50%;
}
.grid {
    margin: -15px;
}
.grid-item {
    padding: 15px;
}

@media (max-width: 767px) {
    .grid-item {
        width: 100%;
    }
}

/*
  ========================================
  12. Sections
  ========================================
*/

section {
    /* min-height: 100vh; */
    height: 100vh;
    overflow-y: scroll;
    width: 100%;
    background-size: cover;
    background-position: center;
    color: #fff;
}
    section .fp-tableCell {
        /* display: block; */
        vertical-align: top;
    }
    section h1 {
        font-size: 40px;
        margin-bottom: 30px;
        color: #fff;
    }

@media (max-width: 991px) {
    #main-container section {
        margin-top: 50px;
        padding-bottom: 50px;
    }
}

/*
  ========================================
  13. Cards
  ========================================
*/

.card-wrapper {
    padding: 15px;
}
.card {
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}
.card-cover {
    width: 100%;
    position: relative;
    z-index: 1;
}
.card-cover:hover {
    cursor: pointer;
}
.card-cover:hover .card-actions {
    opacity: 1;
    transition: opacity 0.4s ease-in-out;
}
    .card-cover img {
        width: 100%;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
.card-actions {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
}
    .card-actions .date {
        margin: 15px;
    }
.card-action-item-wrapper {
    position: absolute;
    width: 100%;
    top: 0;
    padding: 10px;
    text-align: right;
}
.card-action-item {
    position: relative;
    z-index: 1;
    display: inline-block;
    text-align: center;
    padding: 5px;
    padding-top: 3px;
    margin-left: 10px;
    border-radius: 4px;
    width: 30px;
    height: 30px;
    background-color: #fff;
    color: #666;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}
.card-action-item:hover {
    cursor: pointer;
    color: #111;
}
.card-footer {
    padding: 10px;
    cursor: default;
}
    .card-footer .title:hover {
        cursor: text;
    }

.group {
    background-color: rgb(229, 229, 229);
    padding: 20px;
    border-radius: 4px;
    margin-bottom: 30px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}

/*
  ========================================
  14. Forms
  ========================================
*/

.form-horizontal .control-label {
    font-weight: 400;
}
.form-group:nth-last-child(1) {
    margin-bottom: 0;
}
.note-editor {
    margin: 0;
    font-size: 14px;
}

/*
  ========================================
  15. Alerts
  ========================================
*/

.alert {
    position: absolute;
    bottom: 50px;
    right: 50px;
    margin: 0;
    z-index: 100;
}

/*
  ========================================
  16. Login
  ========================================
*/

#login {
    background-image: linear-gradient(rgba(0, 0, 0, .1), rgba(0, 0, 0, .1)), url("/images/infinite-wooden-floors/01.jpg");
}
    #login .container {
        width: 50%;
        margin-top: 100px;
    }
@media (max-width: 767px) {
    #login .container {
        width: 100%;
    }
}
@media (max-width: 991px) {
    #login .container {
        width: 75%;
    }
}

/*
  ========================================
  17. User
  ========================================
*/

#resumes {
    background-image: linear-gradient(rgba(0, 0, 0, .1), rgba(0, 0, 0, .1)), url("/images/blurred-backgrounds/01.jpg");
}
    #resumes .card {
        padding: 0;
        background-color: #80DED9;
    }

#portfolios {
    background-image: linear-gradient(rgba(0, 0, 0, .1), rgba(0, 0, 0, .1)), url("/images/blurred-backgrounds/02.jpg");
}
    #portfolios .card {
        padding: 0;
        background-color: #80DED9;
    }

#settings {
    background-image: linear-gradient(rgba(0, 0, 0, .1), rgba(0, 0, 0, .1)), url("/images/blurred-backgrounds/03.jpg");
}

/*
  ========================================
  18. Profile
  ========================================
*/

#profile {
    background-image: linear-gradient(rgba(0, 0, 0, .1), rgba(0, 0, 0, .1)), url("/images/infinite-wooden-floors/02.jpg");
}
    #profile .jumbo {
        padding: 30px;
        margin: 0 30px;
        border-radius: 6px;
        opacity: 0.9;
        background-color: rgba(238, 238, 238, .9);
        color: #333;
    }
    #profile .title {
        color: #252839;
    }
    #profile .subtitle {
        margin-bottom: 20px;
        text-align: center;
    }
    #profileBackground {
        max-height: 300px;
    }

@media (max-width: 767px) {
    #profile .jumbo {
        padding: 15px;
        margin: 0 15px;
    }
    #profile p {
        margin-bottom: 10px;
    }
}
@media (min-width: 1200px) {
    #profile .container {
        width: 1000px;
    }
}

/*
  ========================================
  19. Experience
  ========================================
*/

#experience {
    background-image: linear-gradient(rgba(0, 0, 0, .1), rgba(0, 0, 0, .1)), url("/images/blurred-backgrounds/01.jpg");
    /* background-color: rgb(229, 229, 229); */
}
    #experience .card {
        padding: 15px;
        border: 1px solid #d8d8d8;
        background-color: #fff;
    }
    #experience .title {
        margin-bottom: 16px;
        color: #89bdd3;
    }
    #experience .subtitle {
        margin-bottom: 12px;
        color: #9ad3de;
    }
    #experience .date {
        margin-bottom: 8px;
        color: #7999FF;
    }
    #experience .card-content {
        display: block;
        color: #677077;
    }

@media (max-width: 767px) {
    #experience .card-wrapper {
        padding: 10px 15px;
    }
    #experience .card-wrapper:nth-last-child(1) {
        padding-bottom: 20px;
    }
}

/*
  ========================================
  20. Skills
  ========================================
*/

#skills {
    background-image: linear-gradient(rgba(0, 0, 0, .1), rgba(0, 0, 0, .1)), url("/images/blurred-backgrounds/02.jpg");
}
    #skills .card {
        height: 100px;
    }
    #skills .card-0 {
        background-color: rgba(110, 211, 207, .9);
    }
    #skills .card-1 {
        background-color: rgba(187, 196, 239, .9);
    }
    #skills .card-2 {
        background-color: rgba(144, 104, 190, .9);
    }
    #skills .card-3 {
        background-color: rgba(98, 188, 250, .9);
    }
    #skills .card-4 {
        background-color: rgba(101, 52, 255, .9);
    }

/*
  ========================================
  21. Portfolio
  ========================================
*/

#portfolio {
    background-image: linear-gradient(rgba(0, 0, 0, .1), rgba(0, 0, 0, .1)), url("/images/blurred-backgrounds/03.jpg");
}
    #portfolio .group {
        position: relative;
        background-color: transparent;
        padding: 0;
        border-radius: 4px;
        margin-bottom: 30px;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    }
    #portfolio .button-group {
        position: absolute;
        left: -30px;
    }

/*
  ========================================
  22. Achievements
  ========================================
*/

#achievements {
    background-image: linear-gradient(rgba(0, 0, 0, .1), rgba(0, 0, 0, .1)), url("/images/blurred-backgrounds/04.jpg");
}
    #achievements .form-horizontal {
        margin-bottom: 60px;
    }
    #achievements .subtitle {
        position: relative;
    }
        #achievements .subtitle h2 {
            padding-bottom: 4px;
            border-bottom: 2px #fff solid;
            margin-bottom: 20px;
        }
        #achievements .subtitle button.new {
            position: absolute;
            background-color: transparent;
            width: 30px;
            height: 30px;
            line-height: 30px;
            font-size: 30px;
            box-shadow: none;
            right: 0;
            bottom: 10px;
        }
    #achievements .card {
        position: relative;
        margin-bottom: 20px;
        background-color: rgba(138, 219, 255, .9);
    }
        #achievements .card p {
            margin-bottom: 0;
        }

/*
  ========================================
  23. Contact
  ========================================
*/

#contact {
    background-image: linear-gradient(rgba(0, 0, 0, .1), rgba(0, 0, 0, .1)), url("/images/infinite-wooden-floors/03.jpg");
}
    #contact .card {
        width: 450px;
        padding: 60px 30px 45px;
        margin: 0 auto;
        color: #fff;
        background-color: rgba(0, 0, 0, .7);
        text-align: center;
        transition: all 0.2s ease-in-out;
    }
    #contact .profile-pic {
        margin: 20px 0;
        height: 120px;
        width: 120px;
        border-radius: 50%;
    }
    #contact .info {
        margin: 20px 0;
        font-weight: 300;
    }
        #contact .info .website a {
            color: #fff;
            border-bottom: 2px dotted #337ab7;
        }

@media (max-width: 767px) {
    #contact .card {
        width: 100%;
        max-width: 400px;
    }
}

/*
  ========================================
  24. Portfolios
  ========================================
*/

#portfolio {
    background-size: cover;
    background-position: center;
}
#portfolio img {
    display: block;
    max-width: 100%;
    height: auto !important;
}
.edit #portfolio h1 {
    margin-bottom: 30px;
}
.edit #content {
    margin-top: 30px;
}
#portfolio .view h1 {
    margin-bottom: 50px;
}
#portfolio .view #header p {
    margin-bottom: 0;
}
.view #content {
    margin-top: 50px;
}
#portfolio .view #content {
    color: #000;
}